wechat:
  version: 3.8.1.26 # Required, disguised WeChat version
  listen_port: 22222 # Required, port for listening WeChat message
  init_timeout: 10s # Optional, WeChat client initialization timeout
  request_timeout: 30s # Optional

service:
  addr: ws://10.10.10.10:11111 # Required, ocotpus address
  secret: hello # Reuqired, user defined secret
  ping_interval: 30s # Optional

log:
  level: info
